{{#if isActive}}
<div class="overlay {{showing}}">
  <div class="instructions-container">
    <div class="instructions">Use mouse/finger to move me</div>
    <div class="divider"> ~ </div>
    <div class="play-btn" {{action 'exit'}}>play</div>
  </div>
</div>
{{/if}}
